i.material-icons{
    font-size: 40pt;
    margin: 1px 5px;
    cursor: pointer;
}

.imag
{
    width: 150px;
    height: 150px;
position: absolute;
align-content:center;
cursor: pointer;
right: 90px;
top: 5px;
background-color: white;
color: white;
float: right;
}
.imag > img
{
    width: 150px;
    height: 150px;
}
.imag:hover > img
{
    opacity: .5;
}
.imag:hover > .texto-imag
{
    transition: .5s;
    opacity: 1;
}
#img1
{
   
}


.texto-imag
{
    padding-top: 5%;
    padding-bottom: 5%;
    opacity: 0;
    top: 70%;
    color: #ffffff;
    position: absolute;
    background: #1b1b1b;
    text-align: center;
    align-content: center;
font-size: 17px;
    border-radius: 10px;
}