<formulario 
  [form]="FranquiciatariosPerfilForm" 
  [controles]="Controles"
  (enviar)="Guardar($event)"
  [predems]="Datos"
  [opciones]="['Conservar cambios']"
></formulario>
<div class="imag">
  <img class="img1" alt="No se encuentra imágen" height="40px" src="http://franquicias.estudiantesembajadores.com/franquicias/public/archivos/lpf/{{Datos.id}}.{{Datos.foto}}" onerror="this.src='http://motivacionytecnicasdeestudio.com/wordpress/wp-content/uploads/2017/08/an%C3%B3nimo.png?w=640'">

  <div class="texto-imag" (click)="AgregarArchivo()">

  Actualizar imágen del perfil

</div>

</div>