<!-- <footer class="footer bg-inverse text-center">
<div class="container">
 
  <h3 class="texto">
    &copy; Estudiantes Embajadores 2019
  </h3>

</div>

</footer>
 -->
 <div class="footer">

  <div class="footer_contents">Hello World</div>

</div>