<!-- <div mat-dialog-content> -->
	<!-- <app-cerrar-ventana (clickCerrar)="cerrar()"></app-cerrar-ventana> -->

	<h1 mat-dialog-title style="font-weight: bold; text-align: center">{{Datos.Mensaje}}</h1>

	<div mat-dialog-actions style="text-align: center;">
	  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Sí</button>
	  <button mat-button [mat-dialog-close]="false">No</button>
	</div>

<!-- </div> -->