<p>
</p>
<div class="animated fadeIn">
  <h4 class="Tema">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Franquicias</h4>
  <!-- <ng-container *ngIf="(Sesion.Usuario.tipo == 1)"> -->
<tabla
    [datos]="Datos" 
    [paginador]="true" 
    [filtros]="true" 
    [configuracion]="Configuracion" 
    (evento)="Evento($event)"
    (tabla)="ConfigurarTabla($event)"
    (accion)="Accion($event)"    
></tabla>

<add class="mas" (add)="Agregar()"></add>