<div bcolor="primary" class="login">
  
    <div class="cuadro">
      <h2>Nuevo Usuario</h2>
      
      <formulario 
        [form]="RegistroForm" 
        [controles]="RegistroControles"
        [col]="12"
        [opciones]="['Entrar']"
        (enviar)="Enviar($event)"
      ></formulario>
  
     
      <!-- [general]="false" -->
      <!-- <button mat-button (click)="http()">Asddsdfdssf</button> -->
 
  
    </div></div>
  