.multimedia .head{
    padding: 4px 3px;
    border-bottom: 1px solid var(--color-primero);
    margin-bottom: 15px;
}
.multimedia .galeria>div{
    padding: 5px;
}
.multimedia .galeria .imagen{
    background-size: cover;
    height: 140px;
    background-repeat: no-repeat;
    cursor: pointer;
}
 i{
    font-size: 30px; 
    cursor: pointer;
}

.galeria img.seleccionable{
    border: 5px solid rgb(60, 60, 60);
    cursor: pointer;
}
.galeria img.seleccionada{
    border: 8px solid var(--color-primero);
}
.galeria .row{
    /* margin: 10px 2px; */
}

.galeria img {
    width: 100%;
}

.fas.fa-upload:hover
{
color: darkcyan;
cursor: pointer;
}
h5{
    font-weight: bold;
}
.iconos:hover
{
    color: darkcyan;
cursor: pointer;
}