<div class="row head">
  <div class="col-1" style="margin-top: 17px;">
    <i class="fas fa-upload" (click)="AgregarArchivo1()" style="padding-left: 30px" title="Subir imágenes"></i>
  </div>
  <div class="col-2" style="margin-top: 17px;">
    <button mat-flat-button color="accent" (click)="MultimediaSeleccion(true)">Selección múltiple</button>
  </div>
  <div class="col-2" style="margin-top: 17px;">
    <button mat-flat-button color="accent" (click)="MultimediaSeleccion(false)" *ngIf="SeleccionMultiple">Cancelar
      selección</button>
  </div>
  <div class="col-2" style="margin-top: 17px;"></div>
  <div class="col-1" style="margin-top: 17px;">
    <i class="far fa-trash-alt iconos" (click)="MultimediaEliminar()"></i>
  </div>
  <div class="col-1" style="margin-top: 17px;">
    <i class="fas fa-th-large iconos" (click)="MultimediaColumnas()"></i>
  </div>
  <div class="col-1" style="margin-top: 17px;">
    <i class="far fa-list-alt iconos" (click)="MultimediaLista()"></i>
  </div>
  <div class="col-2">
  
  </div>
</div>
<br>  <hr>  <br>
<div *ngIf="MultimediaEstilo == 1" class="row galeria">
  <ng-container *ngFor="let Imagen of Imagenes; let i = index">
    <div class="col-12 col-sm-6 col-md-2 col-xs-2" style="padding-left: 20px">
      <img 
        (click)="MultimediaClickImagen(i)"
        [ngClass]="{'imagen': true, 'seleccionable': SeleccionMultiple, 'seleccionada': Imagen.seleccionada && SeleccionMultiple}"
        src="http://franquicias.estudiantesembajadores.com/franquicias/public/archivos/multimedia/{{Imagen.id_franquicia}}_{{Imagen.id}}.{{Imagen.foto}} " alt="imagen" 
        style="height: 100px; width: 100px; border-radius: 15px"
        />
      
  </div>

  </ng-container>
</div>
<br>

<div *ngIf="MultimediaEstilo == 2" class="row galeria" style="padding-left: 8.33333%;">

  <ng-container *ngFor="let Imagen of Imagenes; let i = index">
  <div class="row">
    <div class="col-6" style="padding-left: 20px">
      <img 
        (click)="MultimediaClickImagen(i)"
        [ngClass]="{'imagen': true, 'seleccionable': SeleccionMultiple, 'seleccionada': Imagen.seleccionada && SeleccionMultiple}"
        src="http://franquicias.estudiantesembajadores.com/franquicias/public/archivos/multimedia/{{Imagen.id_franquicia}}_{{Imagen.id}}.{{Imagen.foto}} " alt="imagen" 
        style="height: 100px; width: 100px; ;"
        />
       

</div> <div class="col-6 " style="padding-left: 20px">
    <h5>Subido el {{Imagen.created_at}}</h5>
     </div></div>
  </ng-container>


  <!-- <div class="col-12">
    <div class="row">
      <div class="col-3">
        <div (click)="MultimediaClickImagen(0)"
          [ngClass]="{'imagen': true, 'seleccionable': SeleccionMultiple, 'seleccionada': AIMGPRUEBA[0] && SeleccionMultiple}"
          style="background-image: url(https://i.imgur.com/SGy9x5s.png)"></div>
      </div>
      <div class="col-9">
        <p>Información</p>
      </div>
    </div>

   

  </div> -->
</div>