.reg 
{
    color: white;
    position: absolute;
    top: 80%;
    left: 49.5%;
    transform: translate(-50%, -50%);
    padding: 40px;
    text-align: center;
}
.reg button
{
  /*   background-color: white;
    border-radius: 2px;
    text-decoration: none; */
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: var(--color-primero);
    background-color: white;
    border-radius: 6px;
    border: none;
    cursor: pointer;

}