<div bcolor="primary" class="login">
  
  <div class="cuadro">
    <h2><b>Ingresar</b></h2>
    
    <formulario 
      [form]="LoginForm" 
      [controles]="LoginControles"
      [col]="12"
      [opciones]="['Entrar']"
      (enviar)="Enviar($event)"
    ></formulario>

   
    <!-- [general]="false" -->
    <!-- <button mat-button (click)="http()">Asddsdfdssf</button> -->
  </div>

  <!-- <div class="reg"  [routerLink]="[ '/Registro' ]"><h3>No tengo cuenta &nbsp;&nbsp;&nbsp;<button>Registrarme</button></h3>
  </div> --></div>
