<h3 style="text-align: center" class="nombres">{{Datos.nombre}} {{Datos.apellidos}}
  <img class="prueba" alt="No se encuentra imágen" height="50px" style="border-radius: 100%;"
  src="http://franquicias.estudiantesembajadores.com/franquicias/public/archivos/lpf/{{Datos.id}}.{{Datos.foto}}" onerror="this.src='http://motivacionytecnicasdeestudio.com/wordpress/wp-content/uploads/2017/08/an%C3%B3nimo.png?w=640'">


</h3>

<div mat-dialog-content class="prospectos-perfil">
  <app-cerrar-ventana (clickCerrar)="cerrar()"></app-cerrar-ventana>

  <h1 mat-dialog-title style="font-weight: bold; text-align: center"></h1>

  <div class="row" style="margin-bottom: 20px; overflow: hidden;">

    <div class="col-md-12 col-sm-12" style="overflow: hidden">

      <mat-tab-group style="overflow:unset;">
        <ng-container *ngIf="(Sesion.Usuario.tipo == 1) || (Sesion.Usuario.tipo ==2)">
          <mat-tab style="overflow: hidden" label="Perfil" [ngClass]="{active: Tab == 0}" (click)="Tab = 0"> <br>
            <app-franquiciatarios-perfil></app-franquiciatarios-perfil>
          </mat-tab>
        </ng-container>
        <mat-tab label="Documentos" [ngClass]="{active: Tab == 1}" (click)="Tab = 1"> <br>
          <app-franquiciatario-documentos style="min-height: 100px"></app-franquiciatario-documentos>
        </mat-tab>
        <mat-tab label="Multimedia" [ngClass]="{'activo': Tab == 2}" (click)="Tab = 2"> <br>
          <app-franquiciatario-multimedia class="multimedia"></app-franquiciatario-multimedia>
        </mat-tab>
        <mat-tab label="Directorio" [ngClass]="{'activo': Tab == 3}" (click)="Tab = 3">
          <ng-template matTabContent>
            <br>
            <app-franquiciatario-directorio></app-franquiciatario-directorio>
          </ng-template>
        </mat-tab>
        <mat-tab label="Calendario" [ngClass]="{'activo': Tab == 4}" (click)="Tab = 4">
          <ng-template matTabContent>
            <br>
            <app-franquiciatario-calendario></app-franquiciatario-calendario>
          </ng-template>
        </mat-tab>
      </mat-tab-group>

      <!--  <div class="col-md-10 col-sm-12">
          <h2 esp>Perfil</h2> 
          <div esp >
            <ul>
              <li [ngClass]="{'activo': Tab == 0}" (click)="Tab = 0">Perfil</li>
              <li [ngClass]="{'activo': Tab == 1}" (click)="Tab = 1">Documentos</li>
              <li [ngClass]="{'activo': Tab == 2}" (click)="Tab = 2">Multimedia</li>
              <li [ngClass]="{'activo': Tab == 3}" (click)="Tab = 3">Directorio</li>
              <li [ngClass]="{'activo': Tab == 4}" (click)="Tab = 4">Calendario</li>
            </ul>
            
        </div>
        
      </div> -->


    </div>


  </div>


  <!-- <div *ngIf="Tab == 0">  
    <app-franquiciatarios-perfil></app-franquiciatarios-perfil>
  </div>
  
  <div *ngIf="Tab == 1">  
    <app-franquiciatario-documentos></app-franquiciatario-documentos>
  </div>

  <div *ngIf="Tab == 2" class="multimedia">   
    <app-franquiciatario-multimedia></app-franquiciatario-multimedia>
  </div>

  <div *ngIf="Tab == 3">   
    <app-franquiciatario-directorio></app-franquiciatario-directorio>
  </div>

  <div *ngIf="Tab == 4" class="calendario">
    <app-franquiciatario-calendario></app-franquiciatario-calendario>
  </div>
   -->
</div>