<div class="row">
  <div class="col-1">

  </div>
  <div class="col-10">

    <formulario [form]="CalendarioForm" [controles]="CalendarioControles" (enviar)="Guardar($event)" [col]="12"
      [opciones]="['Agregar tarea']">
    </formulario>

    <div class="row" style="margin-top: 30px; margin: 10px;">

      <mat-accordion class="calendario" *ngFor="let Fecha of Calendario" style=" margin: 10px;">
        <mat-expansion-panel [expanded]="true" class="cuadro">
          <mat-expansion-panel-header
            [ngClass]="{'vencido': Fecha.fecha_inicio_ts<fecha_hoy, 'activo': Fecha.fecha_inicio_ts>fecha_hoy}">

            <mat-panel-title class="titulo">
              <h3>{{Fecha.fecha_inicio | date:'EEEE d, LLLL yyyy'}}</h3>
            </mat-panel-title>
            <mat-panel-description></mat-panel-description>

          </mat-expansion-panel-header>

          <div class="row" *ngFor="let Grupo of Fecha.grupo" style="float: left">


            <div class="col-1" style="padding-top: 20px;">
              {{Grupo.hora}}
            </div>
            <div class="col-11">
              <ng-container *ngFor="let Tarea of Grupo.tareas">

                <ng-container *ngIf="Tarea.estatus == 1; else elseTemplate">
                  <mat-card bcolor="primary">
                    {{Tarea.titulo}}
                  </mat-card>
                </ng-container>
                <ng-template #elseTemplate>
                  <mat-card style="background-color: #b3b3b3; text-align: center;">
                    {{Tarea.titulo}}
                    <hr style="background-color: white">{{Tarea.descripcion}}
                  </mat-card>
                </ng-template>
              </ng-container>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>






  </div>
  <div class="col-1">

  </div>
</div>