/* .calendario mat-card {    
   
    color: white;
    margin:10px 0px;
}

.calendario mat-expansion-panel-header {
    background-color: rgb(231, 231, 231) !important;
}
.mat-tab-body-content {
    height: 100%;
    overflow: hidden;
}

 */
 div.verMas {
    width: 100%;
    background-color: #f3f3f3;
    padding: 7px 10px 13px 7px;
    border-radius: 5px;
}
div.verMas:after {
content: "";
display: table;
clear: both;
}

div.verMas .archivo {
    float: left;
    width: 95px;
    text-align: center;
    margin: 3px 5px;
}
div.verMas .archivo mat-card {
    padding: 10px 0px 2px 0px;
}
div.verMas .archivo mat-icon {
    font-size: 30pt;
}
div.verMas a {
    color: black;
}
div.verMas button {
    font-size: 40pt;
    font-weight: bold;
}

.abrirArchivos {
    height: 100px;
}

tr.tarea {
    border-bottom: 1px solid #dadada;
}
tr.tarea td {
    padding: 4px 0px 4px 0px;
}

.calendario {
    margin: 1px;
}
.calendario .titulo {
    padding-top: 13px;
}
.calendario mat-card {    

    float: left;
    width: max-content;
    color: white;
    margin: 12px 7px;
}

/* .calendario mat-expansion-panel-header {
    background-color: rgb(231, 231, 231) !important;
    
} */
.cuadro
{
    margin: 10px;
}
.activo
{
    background-color: green;
}
.vencido
{
    background-color: red;
}