<!-- <div class="row sin-margin cuadro-cerrar"> -->
<div class="">
	<!-- <div class="col-sm-11"></div> -->
	<!-- <div class="col-sm-1 cerrar">
		<i class="material-icons" (click)="cerrar()">close</i>
	</div> -->
	<i class="material-icons" (click)="cerrar()">close</i>
</div>