i{
    /* font-size: 40pt;
    cursor: pointer;
    font-weight: bold;
    float: right; */

    font-size: 40pt;
    cursor: pointer;
    font-weight: bold;
    /* float: right; */
    /* position: relative; */
    position: absolute;
    top: 10px;
    right: 10px;
    color: rgb(233, 231, 231);
}
i:hover{
    color: white;
    text-shadow: 0px 0px 30px #fff;
}