.cuadrito
{
    position: absolute;
   
    align-content: center;
    right: 10%;
    top: 30%;
}

.agregarch
{
    background-color: darkturquoise;
    font: icon;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
  
}
mat-icon
{
    outline: none;
}