<div class="row">
   
    <div class="col-10 col-md-10" style="min-height: 100px">
  <table esp>
    <tr class="head">
      <th></th>
      <th>Documento</th>
      <th>Estatus</th>
      <th>Fecha de entrega</th>
      <th></th>
    </tr>
    <tr *ngFor="let Document of Documents; let i = index">
        <td><i class="material-icons" style="font-size: 50pt; color: rgb(131, 131, 131);">insert_drive_file</i></td>
      <td>{{Document.nombre}}</td>
      <td >
        <mat-select placeholder="Estatus" [(ngModel)]="Document.estatus" (selectionChange)="GuardarDocumento(i)">
          <mat-option *ngFor='let item of [
          { Valor: "Activo", Nombre: "Activo" },
          { Valor: "Sin uso", Nombre: "Sin uso" },
          { Valor: "Pendiente", Nombre: "Pendiente" }
        ]' [value]="item.Valor">
            {{item.Nombre}}
          </mat-option>
        </mat-select>
          <!-- <formulario (click)="Guardarlo(Document.id)"
          [form]="ProspectosDocForm" 
          [controles]="Controles1"
          (enviar)="Guardar($event)"
          [predems]="Document.estatus"
          
        ></formulario> -->
        <!-- <mat-form-field>
        <mat-select placeholder="Seleccione" [(ngModel)]="Document.estatus" name="Estatus">
          <mat-option  [value]="Activo">
            Activo
          </mat-option>
          <mat-option [value]="Null">
            Sin uso
          </mat-option>
          <mat-option [value]="Pendiente">
            Pendiente
          </mat-option>
        </mat-select>
        </mat-form-field> -->

      </td>
      <td>{{Document.fecha_entrega}}</td>
      <td>
        <button mat-icon-button [matMenuTriggerFor]="menuAcciones" 
          style="cursor: pointer;" 
       
          >
          <mat-icon color="primary">more_vert</mat-icon>
        </button>
        <mat-menu #menuAcciones="matMenu" overlapTrigger="true" yPosition="above">
          <ng-container>
            <button mat-menu-item (click)="Opcion(i)">
              <span>Eliminar</span>
            </button>
          </ng-container>
        </mat-menu>
      </td>  


    </tr>
  </table>
</div>
<div class="col-2 col-md-2">
    <div class="cuadrito" (click)="AgregarArchivo1()" style="align-content: center;">
     
         <label class="agregarch"  >Agregar Archivo</label>
       </div> </div>
</div>