<h1>Datos Personales</h1>
<br><hr>

<formulario 
[form]="DatosPersonaForm" 
[controles]="Controles"
(enviar)="Guardar($event)"
[predems]="Persona"
[opciones]="['Conservar cambios','Convertir en prospecto']"

></formulario>
<div class="imag">
  
  <img alt="No se encuentra imágen" height="40px" src="http://franquicias.estudiantesembajadores.com/franquicias/public/archivos/lpf/{{Persona.id}}.{{Persona.foto}}" onerror="this.src='http://motivacionytecnicasdeestudio.com/wordpress/wp-content/uploads/2017/08/an%C3%B3nimo.png?w=640'">
  <div class="texto-imag" (click)="AgregarArchivo()">
<p>
  Cambiar imágen del perfil
</p>
</div>
</div>
<br><br><br>