<p>
</p>
<div class="animated fadeIn">
  <h4 class="Tema">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Usuarios</h4>
  <!-- <ng-container *ngIf="(Sesion.Usuario.tipo == 1)"> -->
<tabla
    [datos]="Datos" 
    [paginador]="true" 
    [filtros]="true" 
    [configuracion]="Configuracion" 
    (evento)="Evento($event)"
    (tabla)="ConfigurarTabla($event)"
    (accion)="Accion($event)"    
></tabla>
<!-- </ng-container> --><p></p><p></p>
<!-- <formulario 
		[form]="UsuariosForm" 
		[controles]="Controles"
    (enviar)="Guardar($event)"
    [predems]="Valores"
    [opciones]="['Guardar Usuario']"
  ></formulario> -->
  <br>  <br>
</div>
<add class="mas" (add)="Agregar()"></add>