<h3 style="text-align: center" class="nombres">{{Datos.nombre}} {{Datos.apellidos}}
  <img class="prueba" alt="No se encuentra imágen" height="40px" src="http://franquicias.estudiantesembajadores.com/franquicias/public/archivos/lpf/{{Datos.id}}.{{Datos.foto}}" onerror="this.src='http://motivacionytecnicasdeestudio.com/wordpress/wp-content/uploads/2017/08/an%C3%B3nimo.png?w=640'">

</h3>   
<div mat-dialog-content>
	<app-cerrar-ventana (clickCerrar)="cerrar()"></app-cerrar-ventana>
	
  <h1 mat-dialog-title style="font-weight: bold; text-align: center"></h1>
  <mat-tab-group>
    <mat-tab label="Perfil">
<br>
  
	<formulario 
		[form]="LeadsNuevoForm" 
		[controles]="Controles"
    (enviar)="Guardar($event)"
    [predems]="Datos"
    [opciones]="['Convertir en prospecto', 'Conservar cambios']"
    
  ></formulario>
  <div class="imag">
  
    <img alt="No se encuentra imágen" height="40px" src="http://franquicias.estudiantesembajadores.com/franquicias/public/archivos/lpf/{{Datos.id}}.{{Datos.foto}}" onerror="this.src='http://motivacionytecnicasdeestudio.com/wordpress/wp-content/uploads/2017/08/an%C3%B3nimo.png?w=640'">
    <div class="texto-imag" (click)="AgregarArchivo()">
  <p>
    Cambiar imágen del perfil
  </p>
</div>
</div>

</mat-tab>
</mat-tab-group></div>