
@import '../../../tema.scss';
// @mixin primary-color($theme) {

//     $primary: map-get($theme, primary);
    
// }
table th{
    // background-color: mat-color($my-app-primary);
}

table{
    background-color: white;
    border-collapse: collapse;
    font-size: 10pt;
    -webkit-box-shadow: 0px 5px 24px -1px rgba(0,0,0,0.38);
    -moz-box-shadow: 0px 5px 24px -1px rgba(0,0,0,0.38);
    box-shadow: 0px 5px 24px -1px rgba(0,0,0,0.38);
}
table.simple{
    box-shadow: none;
}
table th, table td{
    padding: 6px 5px;
    text-align: center;
}
table.simple th, table.simple td{
    padding: 3px 4px;
    text-align: center;
}
table th:first-child, table td:first-child {
    padding-left: 17px;
}
table th:last-child, table td:last-child {
    padding-right: 17px;
}
table th{
    color: rgb(140, 140, 140);
    // color: white;
    /* background-color: mat-color($primary); */
    background-color: rgb(234, 234, 234);
    font-weight: normal;
    border: 1px solid transparent;
}
table.simple th{
    color: rgb(26, 26, 26);
    background-color: rgb(255, 255, 255);
    font-weight: bold;
}
table td{
    color: black;
    border-bottom: 1px solid rgb(234, 234, 234);
}
table td i{
    color: #8c8c8c;
}

table div.acciones{
    background-color: white;
    position: relative;
}
table div.acciones ul{
    background-color: white;
	position: absolute;
    padding: 0px;
    margin-bottom: 0px;
    bottom: -5px;
    right: 9px;
    min-width: 130px;
    /* max-width: 130px; */
    border: 1px solid #ece9e9;
}
table div.acciones ul li{
    padding: 2px 6px;
    list-style: none;
    cursor: pointer;
    text-align: center;
}
table div.acciones ul li:hover{
    background-color: rgb(234, 234, 234);
}
table div.acciones a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
table div.acciones a:hover{
    text-decoration: none;
    color: black;
}

.filtros{
    float: right;
}
.filtros .bloque{
    float: left;
    margin: 3px 5px;
}
.filtros .bloque i{
    font-size: 25pt;
    color: rgb(140, 140, 140);
    padding-top: 10px;
    cursor: pointer;
    /* -webkit-transition: color 2s ease-out;
    -moz-transition: color 2s ease-out;
    -o-transition: color 2s ease-out; */
    transition: color 0.5s ease-out;
}
.filtros .bloque i:hover{
    color: rgb(109, 109, 109);
}