<mat-progress-bar *ngIf="!Construir" mode="indeterminate" top></mat-progress-bar>

<div *ngIf="Construir">
  <div *ngIf="Filtros" class="filtros">
    <div class="bloque">
      <mat-form-field class="full-width">
          <mat-select multiple placeholder="Filtrar" name="fs" id="fs" [(ngModel)]="FiltroSelect" #fs="ngModel"
              (selectionChange)="FiltroCambio('select', fs.value)">
              <mat-option *ngFor="let Campo of Datos.Campos" [value]="Campo.Campo">
                {{Campo.Nombre}}
              </mat-option>
          </mat-select>
      </mat-form-field>
    </div>
    <!-- <div class="bloque" style="max-width: 200px;">    
      <ng-container *ngFor="let Filtro of TablaConfig.Filtros; let i=index">
        <!- <p *ngIf="Filtro.Seleccionado && FiltroDatos[i].Fecha" style="margin: 0; font-size: 8pt;">YYYY-MM-DD a YYYY-MM-DD</p> ->
        <mat-form-field *ngIf="Filtro.Filtrar" class="full-width">
            <input matInput [placeholder]="Filtro.Nombre" id="texto" (keyup)="FiltroCambio('input', null)" [(ngModel)]="Filtro.Valor" />
        </mat-form-field>
      </ng-container>
    </div> -->
    <ng-container *ngFor="let Filtro of TablaConfig.Filtros; let i=index">
      <div class="bloque" style="max-width: 200px;">    
          <!-- <p *ngIf="Filtro.Seleccionado && FiltroDatos[i].Fecha" style="margin: 0; font-size: 8pt;">YYYY-MM-DD a YYYY-MM-DD</p> -->
        <mat-form-field *ngIf="Filtro.Filtrar" class="full-width">
            <input matInput [placeholder]="Filtro.Nombre" id="texto" (keyup)="FiltroCambio('input', null)" [(ngModel)]="Filtro.Valor" />
        </mat-form-field>
      </div>
    </ng-container>
    <div class="bloque">
      <button mat-button style="margin-top: 14px;" [matMenuTriggerFor]="menuFiltros">
        <mat-icon>expand_more</mat-icon>
      </button>
      <!-- <button  mat-icon-button class="cuenta">  -->
      <mat-menu #menuFiltros="matMenu" overlapTrigger="true" yPosition="above">
        <button mat-menu-item (click)="Excel()">
          <mat-icon>cloud_download</mat-icon>
          <span>Exportar</span>
        </button>
        <button mat-menu-item (click)="Columnas()">
          <mat-icon>filter_list</mat-icon>
          <span>Ocultar</span>
        </button>
      </mat-menu>
    </div>
    <!-- <div class="bloque">
      <i class="far fa-file-excel" (click)="Excel()"></i>
    </div>
    <div class="bloque">
      <i class="fas fa-sliders-h" (click)="Columnas()"></i>
    </div> -->
  </div>
  <table style="width: 100%" [ngClass]="{'simple': Simple}">
    <tr>
      <th>
        <mat-checkbox color="primary" (change)="SeleccionarTodas()"></mat-checkbox>
      </th>
      <ng-container *ngFor="let Campo of Datos.Campos">
        <th *ngIf="!Campo.Ocultar">{{Campo.Nombre}}</th>
      </ng-container>
      <th *ngIf="Datos.Acciones" style="text-align: right;">
        Acciones
      </th>
    </tr>
    <tr *ngFor="let Fila of Datos.Filas; let i=index">
      <td>
        <mat-checkbox color="primary" [(ngModel)]="SeleccionFilas[i]" (change)="SeleccionarFila(i)" name="SF{{i}}"></mat-checkbox>
      </td>
      
      <ng-container *ngFor="let Campo of Datos.Campos">
        <td *ngIf="!Campo.Ocultar">{{Fila[Campo.Id]}}</td>
      </ng-container>
  
      <td *ngIf="Datos.Acciones" style="text-align: right;">
        <button  mat-icon-button [matMenuTriggerFor]="menuAcciones" (click)="VerAcciones(Fila.Id)"> 
          <mat-icon color="primary">more_vert</mat-icon>
        </button>
        <mat-menu #menuAcciones="matMenu" overlapTrigger="true" yPosition="above">
          <ng-container *ngFor="let Accion of Datos.Acciones">
            <ng-container *ngIf="Accion.Tipo === 'link'; else elseTemplate">
              <!-- <a mat-button routerLink="{{Accion.Accion}}">{{Accion.Nombre}}</a>     -->
              <button mat-menu-item [routerLink]="Accion.Accion + Fila['id_principal']">
                <span>{{Accion.Nombre}}</span>
              </button>
            </ng-container>
            <ng-template #elseTemplate>      
              <button mat-menu-item (click)="AccionClick(Accion.Accion, Fila)">
                <span>{{Accion.Nombre}}</span>
              </button>
            </ng-template>
          </ng-container>
        </mat-menu>
        <!-- <i class="fas fa-ellipsis-v" style="cursor: pointer; font-size: 17pt;"></i>
        <div class="acciones" *ngIf="AccionesVer[Fila.Id]">
          <ul>
            <ng-container *ngFor="let Accion of Datos.Acciones">
              <ng-container *ngIf="Accion.tipo === 'link'; else elseTemplate">            
                  <a href="{{Accion.accion}}"><li>{{Accion.Nombre}}</li></a>
              </ng-container>
              <ng-template #elseTemplate>      
                  <a (click)="Accion(Accion.accion, Fila.Id)"><li>{{Accion.Nombre}}</li></a>
              </ng-template>
            </ng-container>
          </ul>
        </div> -->
      </td>
    </tr>
    <tr *ngIf="Totales">
      <td></td>
      <ng-container *ngFor="let Campo of Datos.Campos">
        <td *ngIf="!Campo.Total"> </td>
        <td *ngIf="Campo.Total">{{Totales[Campo.Id]}}</td>
      </ng-container>
      <td *ngIf="Datos.Acciones" style="text-align: right;"></td>
    </tr>
  </table>
  <div *ngIf="Paginador">
    <mat-paginator 
      [length]="TablaConfig.Paginador.Total"
      [pageSize]="TablaConfig.Paginador.Cantidad"
      [pageIndex]="TablaConfig.Paginador.Pagina"
      [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="PaginaCambio($event)">
    </mat-paginator>
  </div>
</div>