
<tabla 
[datos]="Datos" 
[paginador]="true" 
[filtros]="true" 
[configuracion]="Configuracion" 
(evento)="Evento($event)"
(tabla)="ConfigurarTabla($event)"
(accion)="Accion($event)"   
></tabla>

<formulario
 [form]="DirectorioForm"
 [controles]="DirectorioControles" 
 [col]="12" 
 [opciones]="['Agregar contacto']"
 (enviar)="Guardar($event)">
</formulario>

<div class="row">
  <div class="col-10"></div>
  <div class="col-2">
  </div>
</div>

