<div mat-dialog-content>
	<app-cerrar-ventana (clickCerrar)="cerrar()"></app-cerrar-ventana>
	
	<h1 mat-dialog-title style="font-weight: bold; text-align: center"></h1>
	<formulario
		[form]="FranquiciasDatosForm" 
		[controles]="Controles"
		[col]="10"
    [opciones]="['Guardar datos de la franquicia']"
		(enviar)="Guardar($event)"
	    [predems]="DDatos"
	></formulario>

</div>