button
{
        text-decoration: none;
        padding: 10px;
        font-weight: 600;
        font-size: 20px;
        color: #ffffff;
        background-color: #1883ba;
        border-radius: 6px;
        margin-left: 50%;
        cursor: pointer;
        outline: none;
    }

button:hover
{
    color: #1883ba;
    background-color: #ffffff;
}
.Tema
{
    font-size: 40px;
    color: #0288d1;
    font-style: normal;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif; 
    position: relative;
    bottom: -50px;
}