<div mat-dialog-content>
		<app-cerrar-ventana (clickCerrar)="cerrar()"></app-cerrar-ventana>
		
		<h1 mat-dialog-title style="font-weight: bold; text-align: center"></h1>
		<formulario
			[form]="FranquiciatarioNuevoForm" 
			[controles]="Controles"
			[col]="10"
			[opciones]="['Conservar como Franquiciatario y seguir agregando', 'Convervar como Franquiciatario']"
			(enviar)="Guardar($event)"
			[predems]="DDatos"
		></formulario>	
	</div>