<form [formGroup]="Grupo" (ngSubmit)="Submit()">

  <div class="row">
    <div *ngIf="ColExtT > 0" class="col-{{ColExtT}}"></div>
    <div class="col-12 col-sm-{{Col}}">
      <div class="row">
        <div *ngFor="let Campo of Controles; let i=index" class="col-12 col-sm-{{Campo.Col}}">
    
          <mat-form-field *ngIf="Campo.Tipo == 'text' || Campo.Tipo == 'number' || Campo.Tipo == 'password'" (keyup)="Cambio($event, Campo.Nombre)">
            <input matInput placeholder="{{Campo.PH}}" formControlName="{{Campo.Nombre}}" type="{{Campo.Tipo}}">
          </mat-form-field>

          <!-- <mat-autocomplete *ngIf="Campo.Tipo == 'text' || Campo.Tipo == 'number' || Campo.Tipo == 'password'" (keyup)="Cambio($event, Campo.Nombre)" 
            #i="matAutocomplete">
            <mat-option *ngFor="let Opcion of Campo.Opciones" [value]="Opcion">{{Opcion}}</mat-option>
          </mat-autocomplete> -->
    
          <mat-form-field *ngIf="Campo.Tipo == 'select'">
            <mat-select placeholder="{{Campo.PH}}" formControlName="{{Campo.Nombre}}">
              <mat-option *ngFor="let Opcion of Campo.Opciones" [value]="Opcion.Valor">
                {{Opcion.Nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    
          <mat-form-field *ngIf="Campo.Tipo == 'textarea'">
            <textarea matInput placeholder="{{Campo.PH}}" formControlName="{{Campo.Nombre}}"></textarea>
          </mat-form-field>
    
          <!-- <mat-form-field *ngIf="Campo.Tipo == 'date'">
            <input matInput [matDatepicker]="Campo.Nombre" placeholder="{{Campo.PH}}" formControlName="{{Campo.Nombre}}">
            <mat-datepicker-toggle matSuffix [for]="Campo.Nombre"></mat-datepicker-toggle>
            <mat-datepicker #{{Campo.Nombre}}></mat-datepicker>
          </mat-form-field> -->
    
          <mat-form-field *ngIf="Campo.Tipo == 'date'">
            <input matInput [matDatepicker]="i" placeholder="{{Campo.PH}}" formControlName="{{Campo.Nombre}}">
            <mat-datepicker-toggle matSuffix [for]="i"></mat-datepicker-toggle>
            <mat-datepicker #i touchUi></mat-datepicker>
          </mat-form-field>

          <div class="row" *ngIf="Campo.Tipo == 'check'">
            <div class="col" *ngFor="let Opcion of Campo.Opciones">
                <mat-checkbox [value]="Opcion.Valor" formControlName="{{Campo.Nombre}}">{{Opcion.Nombre}}</mat-checkbox>
            </div>
          </div>

          <div *ngIf="Campo.Tipo == 'radio'">
            <label style="color: #9e9e9e;">{{Campo.PH}}</label>
            <mat-radio-group aria-label="Seleccionar opción" formControlName="{{Campo.Nombre}}">
              <div class="row" style="padding-left: 10px;">
                <div class="col" *ngFor="let Opcion of Campo.Opciones">
                  <mat-radio-button [value]="Opcion.Valor">{{Opcion.Nombre}}</mat-radio-button>
                </div>                
              </div>
            </mat-radio-group>
          </div>

          

        </div>
      </div>
    </div>
    <div *ngIf="ColExtT > 0" class="col-{{ColExtT}}"></div>
  </div>

  <!-- <button mat-flat-button color="primary" type="submit" [disabled]="!Grupo.valid">Guardar</button> -->
  
  <!-- <div class="opciones" style="height: 80px;"> -->
  <div class="opciones">
    <div *ngFor="let Opcion of Opciones; let i=index" class="opcion">
      <div class="boton">
          <button mat-raised-button [color]="i == 0 ? 'primary' : 'accent'" [disabled]="!Grupo.valid" (click)="CambiarOpcion(i)">{{Opcion}}</button>
      </div>
    </div>
  </div>

  <!-- <div *ngIf="!General">
    <div *ngFor="let Opcion of Opciones; let i=index" class="">
        <button mat-flat-button color="primary" type="submit" [disabled]="!Grupo.valid" (click)="CambiarOpcion(i)">{{Opcion}}</button>
    </div>
  </div> -->

</form>