mat-form-field{
    width: 100%;
}

.boton{
    float: right;
    margin-left: 5px;
    margin-top: 7px;
    /* margin-bottom: 7px; */
}

.opciones {
    padding: 0px 1px 8px 1px;
    margin-bottom: 17px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}