<div class="animated fadeIn">
  <div class="row">
      <ng-container *ngIf="(Sesion.Usuario.tipo == 1)">
    <div class="col-12 col-md-4">
      <div class="col-12 col-md-12">
        <mat-card class="tarj_azul" bcolor="primary">

          <h1 class="grande"><b>{{Dashboard.Leads.total}}</b></h1>
          <h1 class="pequeño"> <b>Leads</b> </h1>

        </mat-card>
      </div>

      <div class="col-12 col-md-12">
        <mat-card class="tarj_blanca" bcolor="white">
          <div class="row">
            <div class="col-12 col-md-12">
              <p class="grande"><b>Leads nuevos</b></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <p>{{Dashboard.Leads.nuevos}} leads nuevos</p>
            </div>
          </div>
        </mat-card>
      </div>
    </div>


    <div class="col-12 col-md-4">
      <div class="col-12 col-md-12">
        <mat-card class="tarj_azul" bcolor="primary">

          <p class="grande"><b>{{Dashboard.Prospectos.total}}</b> </p>
          <p class="pequeño"> <b>Prospectos </b></p>

        </mat-card>
      </div>

      <div class="col-12 col-md-12">
        <mat-card class="tarj_blanca" bcolor="white">
          <div class="row">
            <div class="col-12 col-md-12">
              <p class="pequeño"><b>Aplicaciones completadas por ver</b></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <p class="grande"><b> &nbsp; {{Dashboard.Prospectos.aplicaciones_completas_porc}}%</b></p>
            </div>
            <div class="col-md-6 col-sm-6">
              <br>({{Dashboard.Prospectos.aplicaciones_completas}} Aplicación completada)
            </div>
          </div>
        </mat-card>
      </div>
      <div class="col-12 col-md-12">
        <mat-card class="tarj_blanca" bcolor="white">
          <div class="row">
            <div class="col-12 col-md-12">
              <p class="pequeño"><b>Aplicaciones incompletas</b></p><br>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <p class="grande"><b> &nbsp; {{Dashboard.Prospectos.aplicaciones_incompletas_porc}}%</b></p>
            </div>
            <div class="col-md-6">
              <p>({{Dashboard.Prospectos.aplicaciones_incompletas}} aplicaciones incompletas)</p>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="col-12 col-md-12">

        <mat-card class="tarj_azul" bcolor="primary">

          <b>
            <p class="grande">{{Dashboard.Franquiciatarios.total}} </p>
            <p class="pequeño"> Franquiciatarios </p>
          </b>
          <mat-card-content>

          </mat-card-content>

          <mat-card-actions>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-12 col-md-12">
        <mat-card class="tarj_blanca" bcolor="white" margin="primary">
          <div class="row">
            <div class="col-12 col-md-12">
              <p class="pequeño"><b>Información incompleta</b></p><br>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <p class="grande"><b> &nbsp; {{Dashboard.Franquiciatarios.aplicaciones_incompletas_porc}}%</b></p>
            </div>
            <div class="col-md-6 col-sm-6">
              <p><br>({{Dashboard.Franquiciatarios.aplicaciones_incompletas}} Franquiciatarios)</p>
            </div>
          </div>
        </mat-card>
      </div>
      <div class="col-12 col-md-12">
        <mat-card class="tarj_blanca" bcolor="white" margin="primary">
          <div class="row">
            <div class="col-12 col-md-12">
              <p class="pequeño"><b>Algunos franquiciatarios no ingresan a la plataforma hace tiempo</b></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <p class="grande"><b> &nbsp; {{Dashboard.Franquiciatarios.ingresos_porcentaje}}%</b></p>
            </div>
            <div class="col-md-7">
              <p><br>({{Dashboard.Franquiciatarios.ingresos_no}} Franquiciatarios)</p>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
    </ng-container>
  </div>

  <br><br>

  <div class="row">
    <div class="col-md-2 col-sm-2 col-xs-2">
    </div>
    <div class="col-md-8 col-sm-8 col-xs-8">


      <div class="col-md-12 col-sm-12 col-xs-12 tarj_azul_larga" bcolor="primary">



        <h6 class="grandes">Próximos eventos</h6>



      </div>
      <br>
    <!--   <mat-accordion class="calendario" style="width: 100%">
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title class="titulo">
              <h2><b>Lunes 28</b></h2>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="col-md-12 col-sm-12">
            <div class="row" style="align-content: center;">
              <div class="col-md-3 col-sm-12">
                <p class="grande" style="text-align: center"><br>11:30 a.m.</p>
              </div>
              <div class="col-md-8 col col-sm-12" style="text-align: center; align-content: center;">
                <mat-card bcolor="primary">
                  Capacitación para sistema de franquicias<br>
                </mat-card>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 col-sm-12">
                <p class="grande" style="text-align: center"><br>5:00 p.m.</p>
              </div>
              <div class=" col-md-8 col-sm-12" style="text-align: center">
                <mat-card bcolor="primary">
                  Llamada franquicia Torreon
                </mat-card>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion> -->
      
      <mat-accordion class="calendario" *ngFor="let Fecha of Calendario" style=" margin: 10px;">
        <mat-expansion-panel [expanded]="false" class="cuadro" *ngIf="Fecha.fecha_inicio_ts>fecha_hoy">
          <!-- <mat-expansion-panel-header [ngClass]="{ 'activo': Fecha.fecha_inicio_ts>fecha_hoy}"> -->
            <mat-expansion-panel-header >

            <mat-panel-title class="titulo">
              <h3>{{Fecha.fecha_inicio | date:'d/MM/yy'}}</h3>
            </mat-panel-title>
            <mat-panel-description></mat-panel-description>
          
          </mat-expansion-panel-header>
  
          <div class="row" *ngFor="let Grupo of Fecha.grupo" style="float: left">
         

            <div class="col-1" style="padding-top: 20px;">
              {{Grupo.hora}}
            </div>
            <div class="col-11">
              <ng-container *ngFor="let Tarea of Grupo.tareas">

                <ng-container *ngIf="Tarea.estatus == 1; else elseTemplate">        
                  <mat-card bcolor="primary">
                    {{Tarea.titulo}}
                  </mat-card>
                </ng-container>
                <ng-template #elseTemplate>       
                  <mat-card style="background-color: #b3b3b3; text-align: center;">
                    {{Tarea.titulo}}<hr style="background-color: white">{{Tarea.descripcion}}
                  </mat-card>
                </ng-template>
              </ng-container>
            </div>
       </div>  
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2">
    </div>
  </div>
</div>