/* *
{
  padding-bottom: 20px;
} */
.tarj_azul {
  text-align: center;
    max-width: 400px;
    max-height:  400px;
    text-align: center;
    color: white;
    height: 100px;
    margin-top: 10px;
  }

  .tarj_azul_larga {
    
      max-width: 100%;
      text-align: center;
      color: white;
      height: 50px;
      vertical-align: middle;
white-space: nowrap;
    }
    #prox {
      line-height: 15px;
    }

  .tarj_blanca {
    max-width: 400px;
    max-height: 400px;
    text-align: center;
    color: gray;
    margin-top: 20px;
  }

  
  .example-header-image {
   
    background-size: cover;
  }
  
  .grande
  {
      font-size: 30px;

  }
  .pequeño
  {
      font-size: 15px;
  }

  p {
    display: block;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0;
    margin-right: 0;
  }

  .calendario mat-card {    
    /* clear:both;
    float:left; */
    max-width: 95%;
    float: left;
    color: white;
    margin: 12px 7px;
}



.grandes
{
  padding-top: 7px;
  font-size: 30px;
}

.calendario {
  margin: 1px;
}
.calendario .titulo {
  padding-top: 13px;
}
.calendario mat-card {    

  float: left;
  width: max-content;
  color: white;
  margin: 12px 7px;
}