<h1>Datos Franquicia</h1>
<br><hr>
<formulario
		[form]="DatosFranquiciaForm" 
		[controles]="Controles"
		[col]="10"
    [opciones]="['Guardar datos de la franquicia']"
		(enviar)="Guardar($event)"
	    [predems]="Franquicia"
	></formulario>
