<h1 mat-dialog-title>TÍTULO</h1>
<div mat-dialog-content>
  
  

</div>
<div mat-dialog-actions style="text-align: right; float: right;">
  <button mat-raised-button color="primary" (click)="Cerrar()">Cerrar</button>
</div>
