/* You can add global styles to this file, and also import other style files */
@import url('assets/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700,900');

:root{
	--color-primero: #2E9AF5;
	--color-segundo: rgb(250, 250, 250);
}

.cp-bg{background-color: var(--color-primero)}
.cs-bg{background-color: var(--color-segundo)}

.cp-c{color: var(--color-primero)}
.cs-c{color: var(--color-segundo)}

body{
    background-color: var(--color-segundo);
}

.barra{
    width: 300px;
    height: 100vh;
    position: fixed;
    background-color: var(--color-primero);
    color: var(--color-segundo);
    padding: 15px 25px;
}
.barra .material-icons{
    font-size: 40pt;
    cursor: pointer;
}

.no-barra{
    margin-left: 300px;
}

.contenido{
    padding: 10px;
}

.busqueda{
    padding: 30px 25px 15px 25px;
    text-align: center;
}

/* .arriba{
    height: 100px;
} */

.pie{    
    position: fixed;
    bottom: 0;
    color: var(--color-primero);
    width: 100%;
    border-top: 1px solid #00000026;
}
.pie p{
    padding-left: 50px;
}

.mas .material-icons{
    font-size: 45pt;
    color: var(--color-primero);
    position: fixed;
    right: 25px;
    bottom: 100px;
    cursor: pointer;
}

.link-activo li{
    background-color: #62adec   
}

/* .acciones .opciones{
	background-color: white;
	position: relative;
	/* bottom: 0;
	right: 0; *
}
.acciones ul{
	padding: 4px 0px 4px 0px;
	position: absolute;
    bottom: -40px;
    left: -100px;
	background-color: white;
	border: 1px solid #e8e8e8;
	min-width: 100px;
}
.acciones ul li{
	padding: 1px 10px;
	list-style-type: none;
	cursor: pointer;
}
.acciones ul li a{
	text-decoration: none;
	color: rgb(34, 34, 34);
	font-size: 10pt;
}
.acciones ul li:hover{
	background-color: #d4d4d4;
}

.acciones img{
    height: 35px;
    cursor: pointer;
} */

mat-form-field{
    width: 100%;
}
form{
    text-align: center;
}
form .opcion1, form .opcion2, form .opcion{
    float: right;
    font-size: 15pt;
    font-weight: bold;
    margin: 25px 20px;
}
form .opciones button{
    background-color: transparent;
    border: 1px solid transparent;
}
form .opciones button[disabled]{
    color: rgb(218, 218, 218);
    font-weight: normal;
}
form .opciones button{
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
}

h2[esp]{
    color: var(--color-primero);
    font-weight: bold;
    font-size: 20pt;
    border-bottom: 1pt solid var(--color-primero);
    padding-bottom: 10px;
    padding-left: 5px;
}
h3{
    font-size: 15pt;
    padding-left: 5px;
}

hr[esp]{
    /* color: var(--color-primero); */
    /* border-color: var(--color-primero); */
    color: transparent;
    border-color: transparent;
}

div[esp]{
    /* color: var(--color-primero); */
    font-size: 20pt;
    padding-bottom: 10px;
    padding-left: 5px;
    height: 45px;
}
div[esp] ul{
    padding: 0;
}
div[esp] ul li{
    float: left;
    margin: 3px 25px 3px 0px;
    list-style-type: none;
    cursor: pointer;
}
div[esp] ul li.activo{
    font-weight: bold;
   
}

table[esp]{
    width: 100%;
}
table[esp] th{
    font-weight: bold;
}
table[esp] th, table[esp] td{
    padding: 5px 10px;
}

.calendario .actividad .hora, .calendario .actividad .descripcion{
    padding: 10px 3px;
}
.calendario .actividad .descripcion{
    border-top: 1px solid var(--color-primero);
    border-bottom: 1px solid var(--color-primero);
}
.calendario .actividad .descripcion p{
    border-radius: 10px;
    background-color: var(--color-primero);
    color: var(--color-segundo);
    padding: 3px 8px;
    margin: 2px 7px;
    display: inline-block;
}

.login{

    height: 100vh;
    width: 100vw;
    background: url("https://i1.wp.com/estudiantesembajadores.com/wp-content/uploads/2019/04/viajar-por-el-mundo.jpg") center no-repeat;
    background-size: cover;
}
.login .cuadro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 1);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}
.login h2{
    color: var(--color-primero);
}
/*Animaciones*/
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }
  
  @-webkit-keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -10%, 0);
      transform: translate3d(0, -10%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -10%, 0);
      transform: translate3d(0, -10%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
  }
  
  @-webkit-keyframes zoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  @keyframes zoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  .zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
  }
  @-webkit-keyframes pulse {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
  @keyframes pulse {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
  .pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
  }