@import '~@angular/material/theming';
@include mat-core();

$my-app-primary: mat-palette($mat-light-blue, 700, 200, 900);
$my-app-accent:  mat-palette($mat-grey, 200, 100, 400);
$my-app-warn:    mat-palette($mat-red, 500, 200, 900);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

:root {
    --primary: mat-color($my-app-primary)
}

[bcolor='primary']{
    background-color: mat-color($my-app-primary) !important;
}
[ncolor='primary']{
    color: mat-color($my-app-primary) !important;
}
*:focus { outline: none; } 

@include angular-material-theme($my-app-theme);