div.agregar {
    margin-right: 20px;
    position: fixed;
}
div.agregar mat-icon {
    font-size: 47pt;
    cursor: pointer;
}  
mat-icon
{
    margin-right: 30px;
    transition: .5s;
}
mat-icon:hover
{
   
    transform: scale(1.1);
}