<script src="https://kit.fontawesome.com/93aef92a8e.js"></script>
<h3 style="text-align: center" class="nombres">{{Datos.nombre}} {{Datos.apellidos}}
    <img class="prueba" alt="No se encuentra imágen" height="40px" src="http://franquicias.estudiantesembajadores.com/franquicias/public/archivos/lpf/{{Datos.id}}.{{Datos.foto}}" onerror="this.src='http://motivacionytecnicasdeestudio.com/wordpress/wp-content/uploads/2017/08/an%C3%B3nimo.png?w=640'">

</h3>   

<div mat-dialog-content class="prospectos-perfil">
  <app-cerrar-ventana (clickCerrar)="cerrar()"></app-cerrar-ventana>

  <h1 mat-dialog-title style="font-weight: bold; text-align: center"></h1>

  
<mat-tab-group style="height: 100%; overflow: hidden;">
  
  <mat-tab label="Perfil" style="overflow: hidden;"><br>
     
 <formulario  style="margin-left: 0px; margin-right: 0px; overflow: hidden;" 
    [form]="ProspectosPerfilForm" 
    [controles]="Controles" 
    (enviar)="Guardar($event)"
    [predems]="Datos"
    [opciones]="['Convertir en franquiciario', 'Conservar cambios']">
  </formulario>
  <div class="imag" style="overflow: hidden;">
  
    <img alt="No se encuentra imágen" height="150px" (click)="AgregarArchivo()" src="http://franquicias.estudiantesembajadores.com/franquicias/public/archivos/lpf/{{Datos.id}}.{{Datos.foto}}" onerror="this.src='http://motivacionytecnicasdeestudio.com/wordpress/wp-content/uploads/2017/08/an%C3%B3nimo.png?w=640'">
    <div class="texto-imag" (click)="AgregarArchivo();">
    <p style="font-family: Verdana, Geneva, Tahoma, sans-serif">
    Cambiar imágen del perfil
  </p>
</div>
</div>
</mat-tab>
  <mat-tab label="Documentos" > 
      <br>
    <div class="row" style="margin-left: 0px; margin-right: 0px;">
  
      <div class="col-9 col-md-9" style="min-height: 100px">
    <table esp>
      <tr class="head">
        <th></th>
        <th>Documento</th>
        <th>Estatus</th>
        <th>Fecha de entrega</th>
        <th></th>
      </tr>
      <tr *ngFor="let Document of Documents; let i = index">
          <td><i class="material-icons" style="font-size: 50pt; color: rgb(131, 131, 131);">insert_drive_file</i></td>
        <td>{{Document.nombre}}</td>
        <td >
          <mat-select placeholder="Estatus" [(ngModel)]="Document.estatus" (selectionChange)="GuardarDocumento(i)">
            <mat-option *ngFor='let item of [
            { Valor: "Activo", Nombre: "Activo" },
            { Valor: "Sin uso", Nombre: "Sin uso" },
            { Valor: "Pendiente", Nombre: "Pendiente" }
          ]' [value]="item.Valor">
              {{item.Nombre}}
            </mat-option>
          </mat-select>
          

        </td>
        <td>{{Document.fecha_entrega}}</td>
        <td>
          <button mat-icon-button [matMenuTriggerFor]="menuAcciones" 
            style="cursor: pointer;" 
         
            >
            <mat-icon color="primary">more_vert</mat-icon>
          </button>
          <mat-menu #menuAcciones="matMenu" overlapTrigger="true" yPosition="above">
            <ng-container>
              <button mat-menu-item (click)="Opcion(i)">
                <span>Eliminar</span>
              </button>
            </ng-container>
          </mat-menu>
        </td>  


      </tr>
    </table>
  </div>
  <div class="col-1 col-md-1">
      <div class="cuadrito" (click)="AgregarArchivo1()" style="align-content: center;">
       
           <label class="agregarch"  >Agregar Archivo</label>
         </div> </div>
</div></mat-tab>
</mat-tab-group>
