 button
 {
     outline: none;
 }
 .imag
{
    width: 150px;
    height: 150px;
position: absolute;
align-content:center;
cursor: pointer;
right: 90px;
top: 5px;
background-color: white;
color: white;
float: right;
}
.imag > img
{
    width: 150px;
    height: 150px;
}
.imag:hover > img
{
    opacity: .5;
}
.imag:hover > .texto-imag
{
    transition: .5s;
    opacity: 1;
}
#img1
{
    border-radius: 50%;
}

.texto-imag
{
    padding-top: 10%;
    opacity: 0;
    top: 70%;
    color: #ffffff;
    position: absolute;
    background: #1b1b1b;
    text-align: center;
    align-content: center;
font-size: 17px;
    border-radius: 10px;
}
.cuadrito
{
    position: absolute;
   
    align-content: center;
    right: 10%;
    top: 30%;
}

.agregarch
{
    background-color: darkturquoise;
    font: icon;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
  
}

mat-tab-body-content ng-trigger
{
    overflow: hidden;
}

/* #iconosubir
{
position: absolute;
opacity: 0%;
font-size: 50px;
color: transparent;
cursor: pointer;
padding: 7px 10px 10px 25px;
}
.cuadrito:hover >.agregarch
{
 
    transition: 1s;
    color: darkturquoise;

}
.cuadrito:hover >#iconosubir
{
 
   color: white;
   transition: 1s;

    
} */
li{
    background-color: #747474;
    color: white;
}
.prueba
{
   position: initial;
}