/* You can add global styles to this file, and also import other style files */

@keyframes anim-comprimir-barra{
    from {width: 300px; padding: 15px 25px;}
    to {width: 70px; padding: 15px 8px;}
}
@keyframes anim-descomprimir-barra{
    from {width: 70px; padding: 15px 8px;}
    to {width: 300px; padding: 15px 25px;}
}

.barra.comprimir-barra{
    animation: anim-comprimir-barra 0.25s forwards;
}
.barra.descomprimir-barra{
    animation: anim-descomprimir-barra 0.25s forwards;
}

@keyframes anim-comprimir-contenido{
    from {margin-left: 300px;}
    to {margin-left: 70px;}
}
@keyframes anim-descomprimir-contenido{
    from {margin-left: 70px;}
    to {margin-left: 300px;}
}

.comprimir-contenido{
    animation: anim-comprimir-contenido 0.25s forwards;
}
.descomprimir-contenido{
    animation: anim-descomprimir-contenido 0.25s forwards;
}

ul{
    padding: 0;
}
ul li{
    list-style: none;
    padding: 15px 5px;
}
ul a{
    color: white;
    font-weight: bold;
    margin: 20px 2px;
}
ul a:hover, ul li:hover{
    text-decoration: none;
    background-color: rgb(140, 181, 248);
}


/* dfsfdsf */
.side-nav {
    /* float: left; */
  
    position: fixed;
    height: 100vh;
    color: white;
    padding: 6px;
    transition: left 0.2s;
}
.side-nav i{
    font-size: 32pt;
    cursor: pointer;
    
}
.side-nav p.menu{
    text-align: right;
}
.side-nav p.mmenu i{    
    margin-top: 10px;
}
.side-nav .menu img{
    width: 190px;
    margin-top: -22px;
}
.side-nav.oculta {
    left: -181px;
}
.side-nav.mostrada {
    left: 0px;
}
.side-nav table.menu{
    width: 100%;
    margin-top: 50px;
    font-weight: bold;
}
.side-nav table.menu td a {
    text-align: center !important;
}
.side-nav table.menu mat-icon{
    font-size: 24pt;
    text-align: right;
}
.side-nav table.menu td {
    padding: 20px 0px;
}
.side-nav table.menu td.texto 
{
    padding-left: 15px !important;
}
.side-nav table.menu td.texto a
{
    text-decoration: none;
    color: white;
}



.side-nav table.menu tr
{
    width: 100%;
    text-decoration: none;
    color: white;
    cursor: pointer;
}


mat-toolbar input {
    margin-left: 40%;
    width: 80%;
    border: 0px solid transparent;
    border-radius: 3px;
    left: 30%;
    padding: 7px 14px;
    outline: none;
}
mat-toolbar input:focus {
    box-shadow: 0px 4px 16px -5px rgba(0,0,0,0.1);
}


.side-nav table.menu td a{
    text-decoration: none;
    color: white;
}
.side-nav table.menu td .mat-icon-button 
{
    text-align: center;
    padding-right: 8px;
    
}

.side-nav-content {
    transition: padding-left 0.2s;
}
.side-nav-content.oculta 
{
    padding-left: 244px;
}
.side-nav-content.mostrada 
{
    padding-left: 54px;
}
mat-toolbar {
    font-size: 12pt;
    opacity: 100%;
}
mat-toolbar mat-form-field
{
    width: 50%;
}

mat-toolbar .cuenta {
    position: absolute;
    right: 5%;
    left: auto;
}
mat-toolbar .cuenta mat-icon{
    font-size: 40pt;
    margin-right: 10px;
}

div.agregar {
    position: fixed;
    right: 35px;
    bottom: 7px;
}
div.agregar mat-icon {
    font-size: 36pt;
    cursor: pointer;
    transition: transform .5s;
    outline: none;
}  
div.agregar mat-icon:hover {
    
    -webkit-transform:scale(1.1);
    transition-duration: .5s;
}  

  .side-nav table.menu tr:hover
  {
    -webkit-transform:scale(1.1);
    transition-duration: .5s;
    box-shadow: none;
    outline-offset: 80px;
    text-shadow: 0px 0px 3px #fff;
  }
  .side-nav table.menu tr
  {
    transition: transform .5s;
    outline: none;
  }

 
body
{
    display: flex;
    flex-wrap: wrap;
    min-height: 95vh;
}
footer
{
 align-self: flex-end;  
 color: white;
 text-align: center; 
align-content: center;
bottom: 0px;
background-color: rgb(65, 65, 73);
height: 10vh;
font-size: 22px;
padding: .6em;

}

.all
{
    min-height: 100vh;
}
.fab.fa-facebook:hover
{
 color:rgb(65, 65, 202);
 transform: scale(1.1);
 transition: .5s;
}
.fab.fa-instagram:hover
{
 color:rgb(189, 63, 178);
 transform: scale(1.1);
 transition: .5s;
}
.fab.fa-internet-explorer:hover
{
 color:rgb(67, 157, 180);
 transform: scale(1.1);
 transition: .3s;
}

.fab.fa-facebook
{
 color:white;
}
.fab.fa-instagram
{
 color:white;
}
.fab.fa-internet-explorer
{
 color:white;
}



a{
    text-decoration: none;
}

.muestra
{
    display: inline;
    
}


.InputConIcono
{
    position: relative;
    
}
.InputConIcono i
{
    position: absolute;
    font-size: 27px;
    right: -17%;
    top: 20%;
}
 input:focus + i
{
color: gray;
opacity: .5;
transition: .2s;
}

.bdiv {
    max-height: 100px;
    width: 60%;
    border-radius: 3px;
    
}
.bdiv.padd {
    padding-top: 28px;
}
.bdiv a{
    text-decoration: none;
    color: rgb(255, 255, 255);
   
}
.bdiv .bresultado {
    margin-left: 5%;
    position: relative;  
    background-color: white;
    color: var(--color-primero);
    padding: 5px;
    transition: background-color 0.4s;
    cursor: pointer;
    width: 80%;
    z-index: 100;
    border-top: 1px solid rgb(239, 239, 239);
    border-radius: 3px;
    margin-left: 40%;
}
.bdiv .bresultado span {
    font-weight: bold;
    font-size: 10pt;
    text-transform: uppercase;
}
.bdiv .bresultado .ins {
    color: rgb(255, 255, 255);
}
.bdiv .bresultado .alu {
    color: rgb(255, 255, 255);
}
.bdiv .bresultado:hover {
    background-color: rgb(241, 241, 241);

}