<link href="../../assets/css/hamburgers.css" rel="stylesheet">
<script src="https://kit.fontawesome.com/93aef92a8e.js"></script>
<link rel="icon" href="https://drive.google.com/file/d/18GmhwiQFQRS4nCFrVs08PLsdQNNnu__J/view?usp=sharing">
<div class="all">
  <div class="side-nav" style="background-color: transparent;" [ngClass]="{'mostrada': SideNav, 'oculta': !SideNav}"
    bcolor="primary">
    <br>
    <p class="menu">
      <img src="assets/img/LogoEE_Blanco.png" alt="Logo de Estudiantes Embajadores">
      <button [ngClass]="{'hamburger hamburger--collapse': true, 'is-active': SideNav}"
        class="hamburger hamburger--collapse" style="outline: none; bottom: 3px;" type="button"
        (click)="SideNav = !SideNav">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>

    </p>

    <table class="menu">

      <tr [routerLink]="['Dashboard']">
        <td class="texto">DASHBOARD</td>
        <td><a mat-icon-button>
            <mat-icon>label</mat-icon>
          </a></td>
      </tr>
      <ng-container *ngIf="(Sesion.Usuario.tipo == 1)">
        <tr [routerLink]="['Leads']">
          <td class="texto">LEADS</td>
          <td><a mat-icon-button>
              <mat-icon>school</mat-icon>
            </a></td>

        </tr>
      </ng-container>
      <ng-container *ngIf="(Sesion.Usuario.tipo == 1)">
        <tr [routerLink]="['Prospectos']">
          <td class="texto">PROSPECTOS</td>
          <td><a mat-icon-button>
              <mat-icon>assignment_ind</mat-icon>
            </a></td>
        </tr>
      </ng-container>
      <tr [routerLink]="['Franquiciatarios']">
        <td class="texto">FRANQUICIATARIOS</td>
        <td><a mat-icon-button>
            <mat-icon>assignment</mat-icon>
          </a></td>
      </tr>

    </table>
  </div>

  <div class="side-nav-content" [ngClass]="{'mostrada': !SideNav, 'oculta': SideNav}">
    <mat-toolbar>

      <div class="bdiv" [ngClass]="{'padd': BusquedaResultados.length > 0}">
        <input type="text" name="buscar" id="buscar" placeholder="ID, institución, nombre, correo..."
          (keyup)="Busqueda($event)" [(ngModel)]="BusquedaTexto">
        <ng-container *ngFor="let Resultado of BusquedaResultados">
          <ng-container *ngIf="Resultado.tipo == 1 ; else elseTemplate">
            <a [routerLink]="[ '/Inicio/DatosFranquicia', Resultado.id]" (click)="ResultadoSeleccionado()">
              <div class="bresultado">
                <span class="ins">Franquicia</span> | {{Resultado.nombre}}
              </div>
            </a>
          </ng-container>
          <ng-template #elseTemplate>
            <a [routerLink]="[ '/Inicio/DatosPersona', Resultado.id]" (click)="ResultadoSeleccionado()">
              <div class="bresultado">
                <span [ngSwitch]="Resultado.id_status">
                  <span *ngSwitchCase="1">
                    Lead
                  </span>
                  <span *ngSwitchCase="2">
                    Prospecto
                  </span>
                  <span *ngSwitchCase="3">
                    Franquiciatario
                  </span>
                  <span *ngSwitchDefault></span>
                </span> | {{Resultado.nombre}} {{Resultado.apellidos}}
              </div>
            </a>
          </ng-template>
        </ng-container>
      </div>
      <button mat-icon-button [matMenuTriggerFor]="menuCuenta" class="cuenta" style="outline: none;">
        <mat-icon color="primary">account_circle</mat-icon>
      </button> 
      <mat-menu #menuCuenta="matMenu" overlapTrigger="true" yPosition="above">
        <ng-container ><button mat-menu-item style="outline: none;" >
          <mat-icon>account_box</mat-icon>
          <span>Usuarios</span>
        </button></ng-container><ng-container ><button mat-menu-item style="outline: none;" [routerLink]="['Franquicias']">
          <mat-icon>account_balance</mat-icon>
          <span>Franquicias</span>
        </button></ng-container>
        <button mat-menu-item style="outline: none;" [routerLink]="['login']">
          <mat-icon>exit_to_app</mat-icon>
          <span>Cerrar sesión</span>
        </button>
      </mat-menu>

    </mat-toolbar>

    <div style="padding: 20px;">


      <router-outlet></router-outlet>

    </div>
    <!-- <div style="height: 200vh;"></div> -->

  </div>


</div>
<footer>
  Estudiantes Embajadores &copy; &nbsp;&nbsp;&nbsp;&nbsp;
  <a href="https://www.facebook.com/EEmbajadores/" target="_blank"> <i class="fab fa-facebook"
      style="font-size: 30px; "></i> &nbsp;&nbsp;&nbsp;</a>
  <a href="https://www.instagram.com/estudiantesembajadores/" target="_blank"> <i class="fab fa-instagram"
      style="font-size: 30px;"></i> &nbsp;&nbsp; </a>
  <a href="https://estudiantesembajadores.com/" target="_blank"> <i class="fab fa-internet-explorer"
      style="font-size: 30px;"></i> &nbsp;&nbsp;</a>
</footer>