
<div class="animated fadeIn">
<h4 class="Tema">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Leads</h4>
<tabla
    [datos]="Datos" 
    [paginador]="true" 
    [filtros]="true" 
    [configuracion]="Configuracion" 
    (evento)="Evento($event)"
    (tabla)="ConfigurarTabla($event)"
    (accion)="Accion($event)"    
></tabla>
<add class="mas" (add)="Agregar()" style="margin: 40px;"></add>
</div>
